<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
<h1>New Dutyitem</h1>
  </div>
</div>


<%= render 'form', dutyitem: @dutyitem %>
<div class="card-footer bg-transparent border-first">
<%= link_to 'Back', dutyitems_path %>
</div>
