
<%= render 'form', casework: @casework %>

<div class="card-footer bg-transparent border-first">
  <%= render "caseworks/caseworkline" %>
  <%= link_to 'Show', @casework %> |
  <%= link_to 'Back', caseworks_path %>
</div>
