<!-- <h1>Admin#index</h1> -->
<p>
   <h4>你好！ <%= session[:user_name] %></h4>
  It's <%= Time.now %>.
  We have <%= pluralize(@total_users, "User") %>.
</p>
<!-- <p>Find me in app/views/admin/index.html.erb</p> -->
