<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
    <h1>New User</h1>
  </div>
</div>
<%= render 'form', user: @user %>
<div class="card-footer bg-transparent border-first">

  <%= link_to 'Back', users_path %>
</div>
