<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
    <h1>Editing Role</h1>
  </div>
</div>


<%= render 'form', role: @role %>

<div class="card-footer bg-transparent border-first">
  <%= link_to 'Show', @role %> |
  <%= link_to 'Back', roles_path %>
</div>
